<h2>Add a new celebriry</h2>
<form action="/celebrities/create" method="post">

<label for="">name</label>
<input id="name" type="text" name="name">

<label for="">occupation</label>
<input id="occupation" type="text" name="occupation">

<label for="">catch phrase</label>
<input id="catchPhrase"type="text" name="catchPhrase">

<button>submit</button>

</form>